@font-face {
    font-family: handWriting;
    src: url(../fonts/handwrite.ttf);
}
.jar{
	background: #1d9c73;
	border-radius: 0;
	border-bottom: 4px solid #157355;
}
.myheadtext{
	color: white;
}
i.menu-icon{
	margin:0;
	color:white;
}
a.text-menu{
	margin-right: 20px;
}
a.box-menu{
	
	border-right: 1px solid #157355;
	border-left: 1px solid #157355;

}
a.box-menu:hover{
	opacity:0.8;
}
@media (max-width: 600px) {
  a.text-menu {
    display: none !important; /* IE8 fix */
  }
  li#resizer-icon"{
  	 display: none !important; /* IE8 fix */
  }
}
#test2{
	width: 100%;
	margin-top: -20px;
}
body{
	background:#F5F5F5;
}

i{
	margin-right:10px;
}
a.mynav-left{
	margin-left: -25px;
}
p.describe{
	text-align:center;
	font-size: 30px;
	font-family:handWriting;
	margin-top: 40px;
}
img.myprofile{
	height:40px;
	width: 40px;
	margin-top:5px;
	margin-right:2px;
}
img.myprofile:hover,.whiteText:hover{
	opacity: 0.8;
}
.whiteText{
	color:white;
	margin-right:20px;
	cursor:pointer;
}
div.topabsentstyle{
	height: 70px;
	background:#78909C;
	margin-top: 10px;
}
div.topstustyle{
	height: 70px;
	background:#66BB6A;
	margin-top: 10px;
}
a.top-student:hover div{
	opacity: 0.95;
}
a.top-absence:hover div{
	opacity: 0.95;
}
.txt-in-absence{
	
	font-weight:bold;
}